<?xml version="1.0" encoding="UTF-8"?>
<launch>


  <param name="topic" type="string" value="/cmd_vel" />
  <param name="distance" type="double" value="1" />


  <node pkg="challenge_project" name="lidar_follow" type="stop_lidar.py" output="screen" required="True" launch-prefix="xterm -e"/>
</launch>
